@charset "UTF-8";
@keyframes point {
  0% {
    filter: drop-shadow(0 0 10px rgba(24, 176, 209, 0.6));
    opacity: 0;
  }
  50% {
    filter: drop-shadow(0 0 4px #18b0d1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.block-buttons-auth-reg {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  border: 2px solid #d0d4d9;
  border-radius: 5px;
  color: #b4b9bf;
  font-weight: bold;
}

.block-buttons-auth-reg .btn {
  cursor: pointer;
  padding: 10px 15px;
}

.block-buttons-auth-reg .btn:hover {
  transition: .3s ease-in-out;
  background-color: #f3f3f5;
}

.block-buttons-auth-reg .btn--register {
  border-right: 2px solid #d0d4d9;
}

.title {
  text-align: center;
  font-size: 2em;
}

.title--invest {
  color: #fff;
  font-weight: 200;
}

.center {
  text-align: center;
  margin: 15px auto;
}

.ab_link {
  text-decoration: none;
  font-weight: bold;
  font-size: .9em;
  border-bottom: 1px dashed #fff;
  cursor: pointer;
}

.ch_title {
  text-align: center;
  font-weight: 200;
  font-size: 1.2em;
}

.ch_title--white {
  color: #fff;
}

.popup {
  display: none;
  z-index: 9999;
  position: fixed;
  margin: 5% auto;
  /* Will not center vertically and won't work in IE6/7. */
  background-color: #fff;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.7), 0 0 0 999em rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 400px;
}

.popup--youtube {
  width: 800px;
}

.popup--youtube .main-content {
  margin: 0 auto;
  padding: 25px 20px;
}

.popup--youtube .header {
  padding: 0 !important;
  border-bottom: none !important;
}

.popup--register {
  height: 430px;
}

.popup--login {
  height: 300px;
}

.popup--login form {
  margin-top: 45px !important;
  float: none !important;
}

.popup--login form .field--button {
  position: relative;
  top: 25px !important;
}

.popup .header {
  position: relative;
  top: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  border-bottom: 3px dashed #e3e6e8;
  margin-bottom: 25px;
}

.popup .header .title {
  font-size: 1.4em;
}

.popup .header .ico--close {
  position: absolute;
  top: 5px;
  right: 15px;
  display: block;
  background: url("./../../all-assets/img/btn_close.png") no-repeat;
  background-size: cover;
  padding: 5px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.popup .main form {
  float: left;
  padding: 5px 15px;
  margin-top: 15px;
}

.popup .main form .field {
  position: relative;
  margin: 25px 0;
  clear: both;
  text-align: right;
}

.popup .main form .field:first-child {
  margin-top: 0;
}

.popup .main form .field label {
  color: #43474a;
  font-weight: 200;
  position: relative;
  top: 6px;
  float: left;
}

.popup .main form .field input {
  position: relative;
  padding: 6px 5px;
  right: 10px;
}

.popup .main form .field--agreement {
  text-align: left;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 10px;
  margin-top: -15px;
  -ms-flex-align: center;
      align-items: center;
}

.popup .main form .field--agreement label {
  position: relative;
  line-height: 25px;
}

.popup .main form .field--agreement label:before {
  top: 5px;
  position: relative;
  right: 10px;
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  font-size: 1.2em;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #b0bac5;
}

.popup .main form .field--agreement label:hover:before {
  box-shadow: 0 0 6px 0 #18b0d1;
}

.popup .main form .field--agreement input[type=checkbox] {
  display: none;
}

.popup .main form .field--agreement input[type=checkbox]:checked + label:before {
  background: url("./../img/ic_checkmark.png") no-repeat;
  background-position: center;
  background-size: 80%;
  color: #18b0d1;
}

.popup .main form .field--button {
  top: 10px;
}

.popup .main form .err {
  top: 36px;
  font-size: .9em;
  position: absolute;
  display: none;
  right: 20px;
  color: #bb0000;
}

.popup .main form .err--agreement {
  top: 56px;
}

.valid-err {
  border-color: #bb0000 !important;
}

.valid-err ~ .err {
  display: block !important;
}

.valid-ok {
  border-color: #3bb38e !important;
}

.valid-ok ~ .err {
  display: none !important;
}

.main-button {
  transition: .2s ease-in-out;
  padding: 15px;
  box-shadow: 0 10px 12px -6px rgba(120, 120, 120, 0.3);
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  max-height: 50px;
  font-weight: bold;
}

.main-button:hover {
  box-shadow: none;
}

.main-button--green {
  background-color: #3bb38e;
  border-bottom: 2px solid #2e8d70;
  color: #fff;
}

.main-button--green:hover {
  background-color: #4dc4a0;
  border-color: #37a785;
}

.main-button--white {
  background-color: #fff;
  color: #18b0d1;
  border-bottom: 2px solid #d9d9d9;
}

.main-button--blue {
  background-color: #18b0d1;
  color: #fff;
  border-bottom: 2px solid #10768c;
}

.block-youtube {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.block-youtube .btn-youtube {
  cursor: pointer;
  box-shadow: 0 10px 12px -6px rgba(120, 120, 120, 0.3);
  width: 100px;
  height: 50px;
  padding: 5px 25px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
}

.block-youtube .btn-youtube:hover {
  transition: .3s ease-in-out;
  box-shadow: none;
  border: none;
}

.block-youtube .btn-youtube img {
  position: relative;
  top: 5px;
  width: 40px;
  height: 30px;
}

.block-youtube .child-youtube {
  margin-left: 5px;
  background: url("./../img/youtube-child.png") no-repeat center;
  height: 60px;
  width: 150px;
}

.js-range {
  -webkit-appearance: none;
  background-color: #d0d4d9;
  background-image: linear-gradient(#3bb38e, #3bb38e);
  background-repeat: no-repeat;
  outline: none !important;
  padding: 0;
  height: 4px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: none;
}

.js-range--sum {
  background-size: 50% 100%;
}

.js-range--period {
  background-size: 100% 100%;
}

.js-range::-moz-range-track {
  background: transparent;
}

.js-range::-moz-focus-outer {
  border: none;
}

.js-range:focus {
  outline: none !important;
  border: none;
}

.js-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 4px;
  box-shadow: 0px 2px 4px #d0d4d9;
  border: 0.5px solid #d0d4d9;
  height: 24px;
  width: 24px;
  border-radius: 49px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -8px;
}

.js-range::-moz-range-thumb {
  position: relative;
  top: 4px;
  box-shadow: 0px 2px 4px #d0d4d9;
  border: 0.5px solid #d0d4d9;
  height: 24px;
  width: 24px;
  border-radius: 49px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -8px;
}

.section-calculator {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 50px;
  background-color: #fff;
  width: 1000px;
  border-radius: 5px;
}

.section-calculator .main-calc {
  width: 485px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 25px;
}

.section-calculator .main-calc .js-range {
  margin-top: 15px;
  width: 100%;
}

.section-calculator .main-calc .ab_range-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 10px;
  color: #b4b9bf;
  font-size: .7em;
}

.section-calculator .calc-title {
  margin-top: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.section-calculator .calc-title span {
  font-weight: bold;
}

.af-input {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  cursor: text;
}

.af-input input {
  padding: 10px !important;
  width: 85px;
  color: #343436 !important;
  text-align: right;
  border-right: none !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  transition: .2s ease-in-out;
}

.af-input input:hover {
  border-color: #1dc1e5;
  border-right: none !important;
  transition: .2s ease-in-out;
}

.af-input input:hover ~ label {
  border-color: #1dc1e5;
}

.af-input input:focus {
  border-color: #1dc1e5;
  border-right: none !important;
  transition: .2s ease-in-out;
}

.af-input input:focus ~ label {
  border-color: #18b0d1;
}

.af-input label {
  cursor: text;
  border-right: solid 2px #b0bac5;
  border-top: solid 2px #b0bac5;
  border-bottom: solid 2px #b0bac5;
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
  width: 40px;
  padding: 10px 0;
  color: #343436 !important;
}

.af-input .range_field--sum ~ label {
  width: 25px;
  padding: 7.5px;
  font-size: 1.2em;
}

.af-input--period input {
  width: 70px;
  padding-right: 5px !important;
}

.ico-point {
  background: url("./../img/ico-point.png") no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  display: block;
  animation: point 5s infinite ease-in-out;
}

.ico-point--1 {
  left: 35px;
  bottom: 55px;
}

.ico-point--2 {
  animation-delay: 2s;
  left: 20px;
  bottom: 75px;
}

.ico-point--3 {
  left: 60px;
  bottom: 125px;
  animation-delay: 6s;
}

.ico-point--4 {
  left: 100px;
  bottom: 200px;
}

.ico-point--5 {
  left: 115px;
  bottom: 150px;
  animation-delay: 7s;
}

.ico-point--6 {
  animation-delay: 3s;
  left: 100px;
  bottom: 135px;
}

.ico-point--7 {
  left: 130px;
  bottom: 90px;
}

.ico-point--8 {
  animation-delay: 4s;
  left: 200px;
  bottom: 145px;
}

.ico-point--9 {
  animation-delay: 5s;
  left: 300px;
  bottom: 150px;
}

.ico-point--10 {
  animation-delay: 3s;
  bottom: 180px;
  right: 250px;
}

.ico-point--11 {
  right: 260px;
  bottom: 100px;
}

.ico-point--12 {
  right: 120px;
  bottom: 120px;
}

.ico-point--13 {
  animation-delay: .4s;
  right: 50px;
  bottom: 95px;
}

.tabs {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
}

.tabs .why-tab {
  color: #18b0d1;
  font-weight: 200;
  width: 195px;
  padding-top: 10px;
  height: 50px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 25px;
  background-color: #fff;
  border: 1px dashed #18b0d1;
}

.tabs .why-tab:hover {
  transition: .3s;
  background-color: #f2f2f5;
}

.tabs .why-tab--active {
  pointer-events: none;
  cursor: default;
  color: #fff;
  background-color: #18b0d1;
  border: 1px solid #18b0d1;
  box-shadow: 0 5px 24px 0 #f0f1f3;
}

.comp_slider {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.comp_slider .arrow {
  position: relative;
  cursor: pointer;
  top: 25px;
  background: url("./../img/arrow.png") no-repeat;
  width: 50px;
  height: 80px;
}

.comp_slider .arrow--left {
  transform: rotateY(180deg);
}

.comp_slider .header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.comp_slider .header .person {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.comp_slider .header .person .info {
  margin-left: 25px;
}

.comp_slider .header .person .info > span {
  font-weight: bold;
  position: relative;
  right: 32px;
  font-size: 1.2em;
}

.comp_slider .header .person img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 7px 12px 5px #ebebee;
}

.comp_slider .header .person .child {
  margin-top: 10px;
  color: #b4b9bf;
}

.comp_slider .header .info-invest {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 320px;
}

.comp_slider .header .info-invest h4 {
  font-size: 1.8em;
  font-weight: 100;
}

.comp_slider .header .info-invest .invest h4 {
  color: #18b0d1;
}

.comp_slider .header .info-invest .earn h4 {
  color: #3bb38e;
}

.comp_slider .header .info-invest span {
  color: #b4b9bf;
}

.js-peppermint {
  display: -ms-flexbox;
  display: flex;
}

form.feedback {
  width: 420px;
}

form.feedback input, form.feedback #feedMessage, form.feedback a.dropdown {
  background-color: #f9f9fa;
  padding: 15px 10px;
  color: #b4b9bf;
  z-index: 3;
  outline: none;
}

form.feedback #feedMessage {
  height: 75px;
  width: 100%;
  resize: none;
}

form.feedback .row {
  margin-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

form.feedback .row input, form.feedback .row a.dropdown {
  width: 200px;
}

form.feedback .row a.dropdown {
  text-decoration: none;
  color: #b0bac5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

form.feedback .row a.dropdown:hover {
  cursor: pointer;
  transition: .3s ease-in-out;
  border-color: #18b0d1;
}

form.feedback .row a.dropdown:hover::after {
  color: #18b0d1;
}

form.feedback .row a.dropdown::after {
  content: '▼';
  position: relative;
  right: 1px;
  display: block;
}

form.feedback .center {
  margin-top: 30px;
}

form.feedback .center .js-msg-succes {
  display: none;
  position: relative;
  color: #3bb38e;
  bottom: 20px;
}

form.feedback .ab_button {
  cursor: pointer;
  border-radius: 5px;
  background-color: #e3e6e8;
  border-bottom: 2px solid #b9c1c6;
  color: #b4b9bf;
  text-shadow: none;
  padding: 15px 35px;
}

form.feedback .ab_button:hover {
  transition: .3s ease-out;
  background-color: #d5dadd;
}

.js-tab-quest {
  color: #18b0d1;
  text-decoration: none;
  border-bottom: 1px dashed #18b0d1;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.2em;
}

.js-tab-quest--active {
  color: #43474a;
  border-color: #43474a;
}

.js-tab-quest:hover {
  transition: .3s ease-in-out;
  color: #34c8e8;
  border-color: #34c8e8;
}

.comp_questions {
  margin: 25px auto;
  width: 920px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.comp_questions .row {
  -ms-flex: 2 0 0px;
      flex: 2 0 0;
}

.comp_questions .row:last-child {
  margin-left: 15px;
}

.comp_questions ul {
  list-style-type: none;
}

.comp_questions li {
  margin: 20px 0;
}

.comp_questions li:first-child {
  margin-top: 0;
}

.comp_questions li .js-content-quest {
  color: #43474a;
  margin-top: 15px;
  display: none;
}

.comp_questions li .js-content-quest ul {
  margin-top: 25px;
}

.comp_questions li .js-content-quest ul li {
  list-style-type: circle;
}

.comp_questions li .js-content-quest--active {
  display: block;
}

.phone {
  font-size: 1.8em;
  font-weight: normal;
  color: #18b0d1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

input[type='text'], input[type='tel'], input[type='password'], textarea, a.dropdown {
  background: #fff;
  color: #43474a;
  border: solid 2px #b0bac5;
  border-radius: 4px;
  padding: 5px 0;
  font-size: 1em;
  -webkit-appearance: none;
  transition: .3s ease-in-out;
}

input[type='text']:hover, input[type='tel']:hover, input[type='password']:hover, textarea:hover, a.dropdown:hover {
  border: 2px solid #18b0d1;
}

input[type='text']:focus, input[type='tel']:focus, input[type='password']:focus, textarea:focus, a.dropdown:focus {
  outline: none;
  border: 2px solid #34c8e8;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  font-size: .8em;
}

select:hover {
  transition: .3s ease-out;
}

select option {
  -webkit-appearance: none;
  position: absolute;
}

select option:focus {
  background-color: red;
}

#root {
  overflow: hidden;
  margin: 0 auto;
}

.overlay {
  pointer-events: none;
}

.wrapper {
  width: 100%;
}

.wrapper--header {
  background-color: #f9f9fa;
}

.wrapper--calculator {
  padding: 50px 0;
  padding-bottom: 20px;
  background: #18b0d1;
  background: linear-gradient(135deg, #1dc1e5 0%, #17accc 41%, #1dc1e5 100%);
}

.wrapper--invest {
  height: 290px;
  background: linear-gradient(to top, #18b0d1, #1dc1e5);
}

.wrapper--invest .title {
  position: relative;
  top: 60px;
  text-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
}

.wrapper--invest .main-button {
  position: relative;
  top: 110px;
}

.wrapper--why-we {
  margin: 25px auto;
  width: 1000px;
}

.wrapper--feedback {
  background-color: #f9f9fa;
}

header {
  margin: 0 auto;
  width: 1000px;
  height: 530px;
  padding-top: 30px;
}

header .block-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

header .child-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

header .child-title .block-phone {
  margin-right: 35px;
}

header .child-title .block-phone span {
  color: #b4b9bf;
  font-size: .8em;
  text-align: right;
  float: right;
}

header main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

header .block--1 {
  padding-top: 60px;
}

header .block--1 h2 {
  font-size: 2em;
}

header .block--1 .child-title {
  margin-top: 25px;
  font-size: 1.2em;
  color: #43474a;
}

header .block--1 .child-title h3 {
  font-weight: 100;
}

header .block--1 .block-buttons {
  margin-top: 50px;
  display: -ms-flexbox;
  display: flex;
}

header .block--1 .block-buttons .main-button {
  position: relative;
  top: 5px;
  margin-right: 30px;
}

header .block--2 {
  color: #18b0d1;
  text-align: right;
}

header .block--2 h1 {
  font-size: 6em;
}

header .block--2 h2 {
  font-size: 2.8em;
}

.block-info-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}

.block-info-header .elm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 20px 0;
  color: #43474a;
}

.block-info-header .elm i {
  margin-right: 15px;
  height: 60px;
  width: 60px;
  background: url("./../../all-assets/img/info-pack-sprites.png") no-repeat;
}

.block-info-header .elm--1 i {
  background-position: -10px -10px;
}

.block-info-header .elm--2 i {
  background-position: -90px -10px;
}

.block-info-header .elm--3 i {
  background-position: -10px -90px;
}

#calculator .calc .section-calculator {
  margin: 45px auto;
}

#calculator .block-graphs {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  height: 284px;
}

#calculator .block-graphs .calc-graph {
  max-height: 305px !important;
  width: 20px;
  height: 305px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#calculator .block-graphs .calc-graph--income {
  height: 20%;
  background: #b7deed;
  background: linear-gradient(to bottom, #53cbf1 0%, #1f9fc8 60%, #05abe0 100%);
}

#calculator .block-graphs .calc-graph--return {
  height: 15%;
  margin-left: 20px;
  background: #b7deed;
  background: linear-gradient(to top, #35a07f 0%, #3bb38e 60%, #59c8a6 100%);
}

#calculator .main-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

#calculator .main-info .block {
  text-align: center;
}

#calculator .main-info .block h3 {
  font-weight: 100;
  font-size: 1.8em;
}

#calculator .main-info .block--1 h3 {
  color: #18b0d1;
}

#calculator .main-info .block--2 h3 {
  color: #3bb38e;
}

#calculator .main-info .block--3 .main-button {
  box-shadow: none;
  position: relative;
  bottom: 15px;
}

#calculator .footer {
  color: #79daf0;
  margin: 30px auto;
  text-align: center;
}

section#about > .title {
  margin-top: 80px;
  margin-bottom: 20px;
}

section#about .main-block .row--1 {
  width: 1000px;
  margin: 45px auto 60px auto;
  text-align: center;
  color: #43474a;
}

section#about .main-block .row--1:after {
  content: "";
  display: table;
  clear: both;
}

section#about .main-block .row--1 .block {
  width: 450px;
}

section#about .main-block .row--1 .block .img {
  width: 400px;
  height: 198px;
  margin-bottom: 40px;
}

section#about .main-block .row--1 .block h3 {
  margin-bottom: 25px;
}

section#about .main-block .row--1 .block--1 {
  float: left;
}

section#about .main-block .row--1 .block--1 .img {
  background: url("./../img/pig.png") no-repeat center;
}

section#about .main-block .row--1 .block--2 {
  float: right;
}

section#about .main-block .row--1 .block--2 .img {
  position: relative;
  top: 20px;
  background: url("./../img/img_automate.png") no-repeat center;
}

section#about .main-block .row--2 {
  padding-top: 20px;
  width: 100%;
  height: 400px;
  background: url("./../img/bg-about.png") no-repeat;
  background-size: cover;
}

section#about .main-block .row--2:after {
  content: "";
  display: table;
  clear: both;
}

section#about .main-block .row--2 > .content {
  width: 1000px;
  margin: 35px auto 25px auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

section#about .main-block .row--2 .block .comp_slider {
  width: 450px;
  z-index: 99999;
}

section#about .main-block .row--2 .block .comp_slider .peppermint {
  width: 46%;
  overflow: hidden;
}

section#about .main-block .row--2 .block .comp_slider .slide {
  text-align: center;
  width: 80%;
  color: #43474a;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 240px;
}

section#about .main-block .row--2 .block .comp_slider .arrow {
  width: 10%;
  top: 60px;
}

section#why-we {
  margin-top: 60px;
}

section#why-we .tabs {
  width: 500px;
  text-align: center;
  margin: 25px auto;
}

section#why-we .main-content {
  margin: 25px auto;
  width: 960px;
}

section#why-we .why-content {
  display: none;
}

section#why-we .why-content--active {
  display: block;
}

.flip-tabs {
  list-style-type: none;
  margin-top: 65px;
  box-shadow: 2px 0 38px 4px rgba(242, 242, 245, 0.66);
  width: 960px;
}

.flip-tabs .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flip-tabs .row--1 .flip-tab:first-child, .flip-tabs .row--1 .flip-tab:last-child {
  border-top: none;
  border-left: none;
  border-right: none;
}

.flip-tabs .row--2 .flip-tab:first-child, .flip-tabs .row--2 .flip-tab:last-child {
  border: none;
}

.flip-tabs .row--2 .flip-tab:nth-child(2) {
  border-bottom: none;
}

.flip-tabs .flip-tab {
  border: 2px solid #e9ebed;
  border-top: none;
  border-collapse: collapse;
  width: 320px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.flip-tabs .flip-tab .front, .flip-tabs .flip-tab .back {
  transition: 0.3s ease-in-out;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.flip-tabs .flip-tab .front span, .flip-tabs .flip-tab .back span {
  font-size: .9em;
  position: absolute;
}

.flip-tabs .flip-tab .front {
  background-color: #fff;
  z-index: 2;
  color: #43474a;
}

.flip-tabs .flip-tab .front span {
  bottom: 15px;
  left: 20px;
}

.flip-tabs .flip-tab .back {
  color: #fff;
  background: linear-gradient(to top, #18b0d1, #1bc1e5);
  padding: 15px 20px;
}

.flip-tabs .flip-tab .back span {
  font-size: .95em;
}

.flip-tabs .flip-tab .back .ab_link {
  position: relative;
  top: 80px;
  color: #fff;
}

.flip-tabs .flip-tab .back .ab_link:last-child {
  top: 100px;
}

.flip-tabs .flip-tab:hover {
  box-shadow: 0 0 24px 5px rgba(24, 176, 209, 0.4);
}

.flip-tabs .flip-tab:hover .front {
  opacity: 0;
}

.flip-tabs .flip-tab:hover .back {
  opacity: 1;
}

.flip-tabs .flip-tab:hover .back .ab_link {
  z-index: 999;
}

#why-content-1 .front .ico {
  position: absolute;
  top: 10px;
  right: 25px;
  background: url("./../img/why-pack-sprite.png") no-repeat;
  width: 80px;
  height: 80px;
}

#why-content-1 .front .ico--1 {
  background-position: -15px -15px;
}

#why-content-1 .front .ico--2 {
  background-position: -125px -15px;
}

#why-content-1 .front .ico--3 {
  background-position: -15px -125px;
}

#why-content-1 .front .ico--4 {
  background-position: -125px -125px;
}

#why-content-1 .front .ico--5 {
  background-position: -235px -15px;
}

#why-content-1 .front .ico--6 {
  background-position: -235px -125px;
}

#why-content-2 .flip-tab:hover {
  box-shadow: 0 0 24px 5px rgba(59, 179, 142, 0.5);
}

#why-content-2 .front .ico {
  position: absolute;
  top: 10px;
  right: 25px;
  background: url("./../img/sprite-is_working.png") no-repeat;
  width: 80px;
  height: 80px;
}

#why-content-2 .front .ico--1 {
  background-position: -190px -98px;
}

#why-content-2 .front .ico--2 {
  background-position: -6px -98px;
}

#why-content-2 .front .ico--3 {
  background-position: -6px -6px;
}

#why-content-2 .front .ico--4 {
  background-position: -190px -6px;
}

#why-content-2 .front .ico--5 {
  background-position: -98px -98px;
}

#why-content-2 .front .ico--6 {
  background-position: -98px -6px;
}

#why-content-2 .back {
  background: linear-gradient(to top, #3bb38e, #4dc4a0);
}

section#is-working {
  margin-top: 100px;
}

section#is-working .ch_title {
  margin-top: 25px;
}

section#is-working h4 {
  color: #18b0d1;
  font-size: 5em;
}

section#is-working span {
  font-stretch: semi-condensed;
  color: #53595e;
}

section#is-working .info-working {
  width: 1000px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 45px auto;
}

section#is-working .info-working .block {
  width: 320px;
  height: 210px;
  position: relative;
}

section#is-working .info-working .block .text {
  position: absolute;
  left: 35px;
  bottom: 40px;
}

section#is-working .info-working .block .ico {
  position: absolute;
  top: 10px;
  right: 15px;
  background: url("./../img/is-working-sprite.png") no-repeat;
  display: block;
  width: 87px;
  height: 90px;
}

section#is-working .info-working .block .ico--1 {
  background-position: -7px -7px;
}

section#is-working .info-working .block .ico--2 {
  background-position: -101px -7px;
}

section#is-working .info-working .block .ico--3 {
  background-position: -101px -7px;
}

section#is-working .info-working .block--1, section#is-working .info-working .block--3 {
  background-color: #f9f9fa;
}

section#is-working .info-working .block--2 {
  width: 360px;
  background-color: #f2f2f5;
}

section#is-working .block-map {
  display: -ms-flexbox;
  display: flex;
  margin: 80px auto;
  width: 1000px;
  height: 320px;
  position: relative;
}

section#is-working .block-map .block--1 {
  position: absolute;
  top: 85px;
  left: 40px;
}

section#is-working .block-map .map {
  position: absolute;
  width: 700px;
  top: -95px;
  right: -115px;
  height: 425px;
  background: url("./../img/map-investor-v2.png") no-repeat;
  background-size: cover;
}

section#comments .comp_slider {
  width: 1000px;
  margin: 25px auto;
}

section#comments .comp_slider .peppermint {
  width: 100%;
}

section#comments .comp_slider .peppermint .peppermint-slides {
  width: 3000px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

section#comments .comp_slider .slide {
  width: 800px;
  margin: 0 50px;
}

section#comments .comp_slider .content {
  background: url("./../img/wrap-comment.png") no-repeat;
  width: 810px;
  padding: 25px 20px;
  height: 205px;
  position: relative;
  top: 15px;
  right: 18px;
}

section#comments .comp_slider .content:before {
  content: ' ';
  height: 100%;
  width: 1%;
  vertical-align: middle;
}

section#comments .comp_slider .content span {
  color: #43474a;
  position: relative;
  top: 25%;
  vertical-align: middle;
}

section#comments .comp_slider .peppermint-dots {
  display: none;
}

section#easy-transacation {
  margin-top: 100px;
}

section#easy-transacation .main-content {
  height: 530px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

section#easy-transacation .main-content:after {
  content: "";
  display: table;
  clear: both;
}

section#easy-transacation .block {
  -ms-flex: 5 0 0px;
      flex: 5 0 0;
  overflow: hidden;
  height: 530px;
}

section#easy-transacation .block--1 {
  background: url("./../img/bg-transaction.png") no-repeat;
  background-size: cover;
  background-position: center center;
}

section#easy-transacation .wrap-right {
  height: 530px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 5 0 0px;
      flex: 5 0 0;
}

section#easy-transacation .wrap-right .block {
  background-color: #f9f9fa;
  height: 320px;
  -ms-flex: 3 0 0px;
      flex: 3 0 0;
}

section#easy-transacation .wrap-right .block .content {
  position: relative;
  left: 60px;
}

section#easy-transacation .wrap-right .block .content .title {
  margin-top: 75px;
  font-size: 2.6em;
  text-align: left;
}

section#easy-transacation .wrap-right .block .content .text {
  margin-top: 25px;
  color: #43474a;
}

section#easy-transacation .partners {
  background-color: #f2f2f5;
  -ms-flex: 2 0 0px;
      flex: 2 0 0;
}

section#easy-transacation .partners .content {
  position: relative;
  left: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

section#easy-transacation .partners .content span {
  color: #43474a;
  margin-top: 40px;
}

section#easy-transacation .partners .content img {
  margin-top: 40px;
  height: 100px;
  width: 450px;
}

section#questions {
  margin-top: 100px;
  height: 580px;
}

section#questions .title {
  margin-bottom: 40px;
}

section#feedback {
  width: 1000px;
  margin: 0 auto;
  height: 310px;
}

section#feedback .main-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 1000px;
  padding-top: 25px;
}

section#feedback .main-content .info .ico_feedback {
  display: block;
  height: 35px;
  width: 35px;
  background: url("./../img/feedback.png") no-repeat;
}

section#feedback .main-content .info .text {
  color: #43474a;
  position: relative;
  bottom: 15px;
  left: 40px;
}

section#feedback .main-content .info .text h3 {
  font-size: 1.4em;
  margin-bottom: 20px;
}

section#feedback .main-content .info .text .call-me {
  margin-top: 20px;
  line-height: 25px;
}

section#feedback .main-content .info .text .call-me .phone {
  color: #18b0d1;
  font-size: 1.6em;
}

section#feedback .main-content .info .text .to-feedback {
  position: absolute;
  color: #b4b9bf;
  font-size: .8em;
  bottom: 20px;
  left: 420px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

section#feedback .main-content .info .text .to-feedback span {
  position: relative;
  left: -130px;
  bottom: 10px;
  white-space: nowrap;
  margin-right: 15px;
}

.js-err-message-feedback-msg {
  position: relative;
  bottom: 15px;
  color: #bb0000;
}

footer {
  background-color: #2d3a4a;
  text-align: center;
}

footer img {
  width: 12%;
  padding: 20px 0;
}
