@font-face {
  font-family: 'rubl';
  src: url("./../../all-assets/fonts/als_rubl.eot");
  src: url("./../../all-assets/fonts/als_rubl.eot?#iefix") format("embedded-opentype"), url("./../../all-assets/fonts/als_rubl.woff") format("woff"), url("./../../all-assets/fonts/als_rubl.ttf") format("truetype"), url("./../../all-assets/fonts/als_rubl.svg#rubl") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-NeueCyrLight';
  src: url("./../../all-assets/fonts/HelveticaNeueCyr-Light.otf");
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("./../../all-assets/fonts/MuseoSansCyrl_900.otf");
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-NeueCyrMedium';
  src: url("./../../all-assets/fonts/HelveticaNeueCyr-Medium.otf");
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-NeueCyrThin';
  src: url("./../../all-assets/fonts/HelveticaNeueCyr-Thin.otf");
  font-style: normal;
}

.ico-personal-office {
  min-width: 20px;
  max-width: 35px;
  cursor: pointer;
}

i.ico--close {
  background: url("./../../all-assets/img/btn_close.png") no-repeat;
  background-size: cover;
  width: 20px;
  display: block;
  height: 20px;
}

.link-phone {
  text-decoration: none;
  color: #18181a;
  font-size: 1em;
  white-space: nowrap;
}

.link-phone--blue {
  color: #18b0d1;
}

.err-field {
  border: 1px solid #bb0000 !important;
}

.errResponse {
  display: none;
  white-space: nowrap;
  position: absolute;
  color: #bb0000;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.success-msg {
  color: #3bb38e;
}

.ab_link, section#questions ul li .js-tab-quest, section#questions ul li .js-tab-quest--active {
  color: #18b0d1;
  text-decoration: none;
  border-bottom: 1px dashed #18b0d1;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

.title {
  text-align: center;
  margin: 5px auto;
}

.title--left {
  color: #18181a;
  margin: 5px 0;
  text-align: left;
}

.ab_center {
  text-align: center;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.main-button {
  transition: .3s ease-in-out;
  padding: 15px;
  box-shadow: 0 8px 12px -4px rgba(30, 30, 30, 0.4);
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
}

.main-button:hover {
  box-shadow: none;
}

.main-button--green {
  font-weight: bold;
  background-color: #3bb38e;
  border-bottom: 3px solid #2e8d70;
  color: #fff;
}

.main-button--white {
  font-weight: bold;
  background-color: #fff;
  color: #18b0d1;
  border-bottom: 3px solid #d9d9d9;
}

.button-youtube {
  transition: .3s ease-in-out;
  cursor: pointer;
  padding: 10px;
  white-space: nowrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  background-color: #fff;
  box-shadow: 0 8px 12px -4px rgba(30, 30, 30, 0.4);
  border-radius: 4px;
}

.button-youtube img {
  margin-right: 5px;
  width: 30px;
}

.button-youtube:hover {
  box-shadow: none;
}

.slider {
  position: relative;
  width: 90%;
}

.slider .arrow {
  position: absolute;
  background: url("../img/arrow.png") no-repeat 0 0;
  background-size: 40px auto;
  width: 45px;
  height: 70px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: 30%;
  z-index: 99;
  margin-top: -20px;
}

.slider .arrow--left {
  left: 0;
  transform: rotateY(180deg);
}

.slider .arrow--right {
  right: 0;
}

.slider .reviews-slider {
  overflow: hidden;
  color: #43474a;
}

.slider .reviews-slider .peppermint-slides {
  display: -ms-flexbox;
  display: flex;
}

.slider .reviews-slider .peppermint-slides .image-slide {
  position: relative;
}

.slider .content-slide {
  margin-top: 25px;
}

.slider .peppermint-dots {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.slider .peppermint-dots > li {
  margin: 5px 10px;
  background-color: #c1c1cc;
  border-radius: 50%;
  width: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 10px;
  cursor: pointer;
}

.slider .peppermint-dots > li.peppermint-active-dot {
  background-color: #18b0d1;
  box-shadow: 0 4px 8px 0 rgba(30, 30, 30, 0.2);
  width: 15px;
  height: 15px;
}

a.btn_feedback {
  font-size: .8em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  max-width: 140px;
  max-height: 40px;
  color: #63676a;
  padding: 10px 15px;
  font-weight: bold;
  white-space: nowrap;
  background-color: #e3e6e8;
  border-radius: 4px;
  border-bottom: 4px solid #c7cdd1;
  cursor: pointer;
}

a.btn_feedback img {
  min-width: 20px;
  min-height: 8px;
  height: 17px;
  margin-right: 7px;
}

.calc {
  padding: 15px 15px;
  border-radius: 10px;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.calc input[type='range'] {
  background-size: 50% 100%;
}

.calc .calc-block {
  margin: 10px 0;
}

.calc .calc-header {
  white-space: nowrap;
}

.calc .calc-header:after {
  content: '';
  display: table;
  clear: both;
}

.calc .calc-header > .title--left {
  font-size: .9em;
  position: relative;
  top: 1px;
  width: 10%;
  float: left;
}

.calc .calc-header .comp-field {
  width: 100px;
  float: right;
}

.calc .calc-header .comp-field > input {
  width: 100%;
}

.calc .tips-range {
  margin-top: 5px;
  font-size: .8em;
  color: #b4b9bf;
}

.calc .info-calc {
  margin: 10px 0;
  padding: 15px 0;
  border: 1px dashed #d0d4d9;
  border-left: none;
  border-right: none;
}

.calc .info-calc:after {
  content: '';
  display: table;
  clear: both;
}

.calc .info-calc span {
  color: #18181a;
}

.calc .info-calc h3 {
  font-size: 1.5em;
  font-weight: normal;
}

.calc .info-calc .info-return {
  float: left;
  text-align: left;
}

.calc .info-calc .info-return h3 {
  color: #3bb38e;
}

.calc .info-calc .info-income {
  float: right;
  text-align: right;
}

.calc .info-calc .info-income h3 {
  color: #18b0d1;
}

.calc .main-button {
  margin: 10px auto;
  text-align: center;
  font-size: 1.4em;
  padding: 20px 40px;
}

.comp-field {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  cursor: text;
  font-size: 1em;
}

.comp-field input {
  text-align: right;
  border-right: none !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding-right: 5px !important;
}

.comp-field input:focus ~ label {
  -webkit-appearance: none;
  outline: none;
  border: 1px solid #18b0d1;
  border-left: none;
}

.comp-field label {
  cursor: text;
  background: #fff;
  color: #18181a;
  border: solid 1px #b0bac5;
  border-left: none;
  border-radius: 3px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding: 5px 3px 5px 5px;
}

.comp-range .range {
  width: 100%;
  -webkit-appearance: none;
  background-color: #d0d4d9;
  background-image: linear-gradient(#3bb38e, #3bb38e);
  background-repeat: no-repeat;
  outline: none !important;
  padding: 0;
  height: 4px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 25px;
  box-shadow: none;
}

.comp-range .range--sum {
  background-size: 10% 100%;
}

.comp-range .range--period {
  background-size: 20% 100%;
}

.comp-range .range::-moz-range-track {
  background: transparent;
}

.comp-range .range::-moz-focus-outer {
  border: none;
}

.comp-range .range:focus {
  outline: none !important;
  border: none;
}

.comp-range .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 4px;
  box-shadow: 0px 2px 4px #d0d4d9;
  border: 0.5px solid #d0d4d9;
  height: 24px;
  width: 24px;
  border-radius: 49px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -8px;
}

.comp-range .range::-moz-range-thumb {
  position: relative;
  top: 4px;
  box-shadow: 0px 2px 4px #d0d4d9;
  border: 0.5px solid #d0d4d9;
  height: 24px;
  width: 24px;
  border-radius: 49px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -8px;
}

.popup {
  z-index: 9999;
  margin: 10vh auto;
  min-height: 180px;
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  width: 85%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.7), 0 0 0 999em rgba(0, 0, 0, 0.5);
  max-width: 360px;
  padding: 5px 10px;
  background-color: #fff;
  min-width: 280px;
}

.popup:after {
  content: '';
  display: table;
  clear: both;
}

.popup .header-popup {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  padding: 5px 0;
  margin: 5px auto;
  width: 90%;
  border-bottom: 2px dashed #eceef0;
}

.popup .header-popup i {
  position: absolute;
  right: -5px;
  top: 0;
  border-radius: 50%;
}

.popup .field {
  position: relative;
  margin: 25px auto;
}

.popup .field .err-msg-field {
  top: 55px;
  display: none;
  position: absolute;
  color: #bb0000;
}

.popup .field input {
  margin-top: 5px;
  padding-left: 5px;
  width: 100%;
}

.popup--register {
  min-height: 450px;
  max-height: 450px;
}

.popup--register .field--agreement {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.popup--register .field--agreement input {
  width: auto;
}

.popup--register .field--agreement label {
  margin-left: 0px;
  text-align: center;
}

.popup--register .field--agreement label:hover {
  transition: .3s ease-out;
}

.popup--register .field--agreement label:hover:before {
  box-shadow: 0 0 2px 0px #18b0d1;
}

.popup--register .field--agreement label:before {
  content: '\2713';
  color: #d0d4d9;
  border-radius: 3px;
  padding: 2px;
  border: 1px solid #d0d4d9;
  margin-right: 10px;
}

.popup--register .field--agreement .err-msg-field {
  top: 35px;
}

.popup--register .field--agreement input[type='checkbox'] {
  display: none;
}

.popup--register .field--agreement input[type='checkbox']:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #18b0d1;
  color: #18b0d1;
}

.popup--register .ab_center {
  margin-top: 15%;
}

.popup--register .ab_center .main-button {
  position: relative;
  top: -10px;
}

.popup--register .errResponse {
  bottom: 140px;
}

.popup--login {
  max-height: 300px;
}

.popup--login .ab_center {
  margin: 25px auto;
}

.popup--login .ab_center .main-button {
  position: relative;
  top: 20px;
}

.popup--login .field {
  margin: 10px auto;
}

.popup--login .err-msg-field--login {
  display: none;
  bottom: 100px;
  position: absolute;
  color: #bb0000;
}

.popup--login .errResponse {
  bottom: 95px;
}

.popup--feedback {
  min-height: 410px;
}

.popup--feedback .ab_center {
  margin: 0 auto;
}

.popup--feedback .ab_center .main-button {
  position: relative;
  top: 15px;
}

.popup--feedback .field {
  margin: 20px auto;
}

.popup--feedback .field--feed_msg {
  margin-top: 25px;
}

.popup--feedback .field .err-msg-field--feed_theme {
  top: 45px;
}

.popup--feedback .field .err-msg-field--feed_email {
  top: 37px;
}

.popup--feedback .field .err-msg-field--feed_message {
  top: 120px;
}

.popup--feedback select {
  border: 1px solid #b0bac5;
  z-index: 9999;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  color: #ababab;
  border-radius: 3px;
  font-size: 1em;
}

.popup--feedback textarea {
  resize: none;
  min-height: 120px;
  background: #fff;
  color: #18181a;
  border: solid 1px #b0bac5;
  width: 100%;
  border-radius: 3px;
  font-size: 1em;
}

.popup--feedback .succes-msg {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 65px;
}

.popup--feedback .errResponse {
  bottom: 65px;
}

.popup--feedback .errResponse.js-err-email-feedback-msg {
  top: 173px;
  left: 15px;
  text-align: left;
  right: 0;
  margin-right: 0;
}

.popup--youtube {
  width: 90%;
  min-height: 400px;
  max-width: 600px;
}

.popup--youtube iframe {
  position: absolute;
  top: 13%;
  left: 0;
  width: 100%;
  height: 87%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
}

#root {
  margin: 0 auto;
  max-width: 640px;
}

input[type='text'], input[type='tel'], input[type='password'], textarea {
  background: #fff;
  color: #18181a;
  border: solid 1px #b0bac5;
  border-radius: 3px;
  padding: 5px 0;
  font-size: 1em;
}

input[type='text']:focus, input[type='tel']:focus, input[type='password']:focus, textarea:focus {
  -webkit-appearance: none;
  outline: none;
  border: 1px solid #18b0d1;
}

header {
  background-color: #f9f9fa;
  padding: 5px 15px;
  height: 390px;
}

header .block-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  white-space: nowrap;
}

header .block-title .logo {
  max-width: 115px;
}

header .block-title .ico-personal-office {
  position: relative;
  left: 5px;
}

header main {
  margin-top: 20px;
  color: #18b0d1;
}

header main .title-head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
}

header main .title-head h3 {
  background: linear-gradient(160deg, #1dc1e5 0%, #17accc 41%, #1dc1e5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: 56px;
  margin-right: 10px;
  font-size: 1.8em;
}

header main h2 {
  background: linear-gradient(160deg, #1dc1e5 0%, #17accc 41%, #1dc1e5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'MuseoSansCyrl';
  font-size: 6em;
}

header main h3 {
  position: relative;
  bottom: 5px;
  font-size: 1.4em;
  white-space: nowrap;
  margin-bottom: 15px;
}

header main span {
  color: #43474a;
  font-weight: 300;
  white-space: normal;
}

header .block-buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  margin: 25px auto;
}

header .block-buttons .button-youtube {
  margin-left: 15px;
  margin-right: 5px;
}

section#info {
  padding: 40px 15px;
}

section#info ul {
  color: #43474a;
  list-style-type: none;
}

section#info ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 25px 0;
}

section#info ul li:first-child {
  margin: 0;
}

section#info ul li .ico-info {
  background: url("./../../all-assets/img/info-pack-sprites.png") no-repeat;
  display: block;
  transform: scale(0.8, 0.8);
  margin-right: 15px;
}

section#info ul li .ico-info--1 {
  width: 60px;
  height: 60px;
  background-position: -10px -10px;
}

section#info ul li .ico-info--2 {
  width: 60px;
  height: 60px;
  background-position: -90px -10px;
}

section#info ul li .ico-info--3 {
  width: 60px;
  height: 60px;
  background-position: -10px -90px;
}

section#calculator {
  background-color: #18b0d1;
  padding: 40px 15px;
}

section#calculator .title {
  color: #fff;
}

section#calculator .calc-tabs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

section#calculator .calc-tabs .calc-tab {
  cursor: pointer;
  background-color: #18b0d1;
  padding: 7px 5px;
  margin-top: 15px;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border: 1px dotted #fff;
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

section#calculator .calc-tabs .calc-tab--active {
  border: none;
  pointer-events: none;
  background-color: #fff;
  color: #18181a;
}

section#calculator .calc-tabs .calc-tab:first-child {
  border-right: none;
  border-left: 1px dotted #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

section#calculator main {
  margin: 25px 0;
}

section#calculator main .calc {
  max-width: 460px;
  margin: 0 auto;
  height: 420px;
  box-shadow: 0 15px 25px 5px rgba(30, 30, 30, 0.3);
}

section#calculator .footer-calc {
  text-align: center;
  color: #79daf0;
}

section#about .header {
  padding: 40px 15px;
}

section#about .header main {
  margin-top: 15px;
  text-align: center;
  color: #43474a;
}

.how-it-works {
  background: #f9f9fa url("../img/arrow-bg.png") center 0 no-repeat;
  padding-top: 25px;
  margin-bottom: -15px;
}

.how-it-works > .slider {
  margin: 15px auto;
  text-align: center;
  border-bottom: 2px dashed #dddde3;
  padding-bottom: 25px;
}

.where-begin {
  background: #f9f9fa;
  padding-top: 35px;
}

.where-begin > .slider {
  margin: 15px auto;
  text-align: center;
}

section#why-we {
  padding: 0 15px;
}

section#why-we .why-tabs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 30px;
}

section#why-we .why-tabs .why-tab {
  cursor: pointer;
  padding: 8px 5%;
  min-width: 120px;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  border: 2px solid #18b0d1;
  color: #18b0d1;
  background-color: #fff;
}

section#why-we .why-tabs .why-tab--active {
  background-color: #18b0d1;
  color: #fff;
  pointer-events: none;
}

section#why-we .why-tabs .why-tab:first-child {
  border-right: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

section#why-we .why-tabs .why-tab:nth-of-type(2) {
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

section#why-we .why-content {
  display: none;
}

section#why-we .why-content--active {
  display: block;
}

#why-content-1 ul, #why-content-2 ul {
  list-style-type: none;
  color: #43474a;
}

#why-content-1 ul li, #why-content-2 ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  font-size: .9em;
}

#why-content-1 ul li span, #why-content-2 ul li span {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

#why-content-1 ul li span .links, #why-content-2 ul li span .links {
  margin-top: 5px;
}

#why-content-1 ul li span .links .ab_link, #why-content-1 section#questions ul li span .links .js-tab-quest, section#questions #why-content-1 ul li span .links .js-tab-quest, #why-content-1 section#questions ul li span .links .js-tab-quest--active, section#questions #why-content-1 ul li span .links .js-tab-quest--active, #why-content-2 ul li span .links .ab_link, #why-content-2 section#questions ul li span .links .js-tab-quest, section#questions #why-content-2 ul li span .links .js-tab-quest, #why-content-2 section#questions ul li span .links .js-tab-quest--active, section#questions #why-content-2 ul li span .links .js-tab-quest--active {
  vertical-align: 15px;
}

#why-content-1 ul li {
  margin: 5px 0;
}

#why-content-1 i.ico-why {
  background: url("../img/why-pack-sprite-2.png") no-repeat;
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  transform: scale(0.9);
}

#why-content-1 i.ico-why--1 {
  background-position: -10px -90px;
}

#why-content-1 i.ico-why--2 {
  background-position: -170px -10px;
}

#why-content-1 i.ico-why--3 {
  background-position: -90px -90px;
}

#why-content-1 i.ico-why--4 {
  background-position: -10px -10px;
}

#why-content-1 i.ico-why--5 {
  background-position: -170px -90px;
}

#why-content-1 i.ico-why--6 {
  background-position: -90px -10px;
}

#why-content-2 ul li {
  position: relative;
  left: 0;
}

#why-content-2 i.ico-why {
  position: relative;
  left: -10px;
  background: url("../img/sprite-is_working.png") no-repeat;
  transform: scale(0.7);
  display: block;
  width: 80px;
  height: 80px;
  margin-right: -5px;
}

#why-content-2 i.ico-why--1 {
  background-position: -190px -98px;
}

#why-content-2 i.ico-why--2 {
  background-position: -6px -98px;
}

#why-content-2 i.ico-why--3 {
  background-position: -6px -6px;
}

#why-content-2 i.ico-why--4 {
  background-position: -190px -6px;
}

#why-content-2 i.ico-why--5 {
  background-position: -98px -98px;
}

#why-content-2 i.ico-why--6 {
  background-position: -98px -6px;
}

section#invest {
  background-color: #18b0d1;
  padding: 40px 15px;
  margin-top: 40px;
  height: 320px;
}

section#invest .title {
  font-size: 1.6em;
  margin-top: 10px;
  color: #fff;
  margin-bottom: 35px;
}

section#invest .main-button {
  position: relative;
  top: 20px;
  font-size: 1.4em;
  padding: 20px 55px;
}

section#is-working {
  margin-top: 30px;
}

section#is-working > div.title {
  margin-top: 15px;
  color: #43474a;
  padding: 5px 15px;
}

section#is-working .info {
  margin-top: 40px;
  display: -ms-flexbox;
  display: flex;
  min-height: 130px;
  text-align: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

section#is-working .info > div {
  width: 50%;
  padding: 20px;
}

section#is-working .info > div h3 {
  color: #18b0d1;
  font-size: 3em;
}

section#is-working .info > div span {
  color: #43474a;
}

section#is-working .info .invest {
  background: #f9f9fa;
}

section#is-working .info .income {
  background: #eeeef1;
}

section#is-working .block-comment {
  text-align: center;
  margin-top: 35px;
  color: #43474a;
}

section#is-working .block-comment .slider {
  margin: 15px auto;
  text-align: center;
}

section#is-working .transaction {
  color: #fff;
  text-align: center;
  padding: 90px 15px;
  background: url("../img/bg-trans.png") no-repeat;
  overflow: hidden;
  height: 285px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

section#is-working .transaction::after {
  z-index: 2;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 285px;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.4);
}

section#is-working .transaction .text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 80%;
  top: 40px;
  z-index: 5;
}

section#is-working .transaction .text h1 {
  color: #fff;
  white-space: nowrap;
  font-size: 1.6em;
  margin-bottom: 25px;
}

section#is-working .transaction .text span {
  line-height: 25px;
  color: #fff;
  font-size: 1.2em;
}

section#is-working .partners {
  padding: 40px 15px;
  background-color: #f2f2f5;
  height: 180px;
}

section#is-working .partners .title {
  position: relative;
  bottom: 10px;
  color: #43474a;
}

section#is-working .partners .bg-partrners {
  background: url("../img/bg-partners.png") no-repeat bottom;
  background-size: contain;
  width: 100%;
  height: 100%;
}

section#questions {
  padding: 30px 15px 10px 15px;
  background: #fff;
}

section#questions main {
  height: 385px;
  margin-top: 25px;
}

section#questions ul {
  list-style-type: none;
}

section#questions ul li {
  margin: 20px 0;
}

section#questions ul li .js-tab-quest {
  cursor: pointer;
  color: #18b0d1;
  border-color: #18b0d1;
}

section#questions ul li .js-tab-quest--active {
  pointer-events: none;
  color: #43474a;
  border-color: #43474a;
}

section#questions ul li .js-content-quest {
  display: none;
}

section#questions ul li .js-content-quest--active {
  display: block;
}

section#register {
  background-color: #18b0d1;
  height: 315px;
  padding: 15px 15px 40px 15px;
}

section#register .title {
  font-size: 1.6em;
  margin-top: 55px;
  color: #fff;
  margin-bottom: 35px;
}

section#register .main-button {
  position: relative;
  top: 20px;
  font-size: 1.4em;
  padding: 20px 75px;
}

footer {
  background: #f9f9fa;
  padding: 40px 15px;
}

footer > h3:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 10px;
  right: 5px;
  margin-right: 0;
  background: url(../img/ico-feeback.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 30px;
}

footer main {
  margin-top: 25px;
  margin-bottom: 25px;
}

footer .callback {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.main-footer {
  background-color: #2d3a4a;
  text-align: center;
  padding: 15px 0;
}

.main-footer img {
  width: 180px;
}
